body{
    margin: 0;
   background-color: rgb(4, 56, 32); 
}
.container{
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    width: 300px;
    background-color: rgb(12, 27, 20);
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.container img{
    width: 130px;
    height: 20px;
}